/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fullWidth{
  width: 100%;
}
.example-card {
  max-width: 300px;
  float: left;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.descriptionText{
  font-size: 16px;
  font-family: "Calibri Light", serif;
  font-weight: bold;
  padding-top: 15px;
}
.card-body{
  border-top: 2px solid darkgrey;
}

.button-design:hover{
  color: cornflowerblue;
}
.button-container{
  width: 100%;
  text-align: right;
}
